body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.logoutButton {
  width: 30px;
  height: 30px;
  text-align: center;

  &:hover {
    color: #fff;
    background-color: #435863;
    border-radius: 3px;
  }
}

.main-container {
  background-color: #e4e5e6;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

button:focus {
  outline: 0;
  box-shadow: none;
}

.modal-title {
  width: 100%;
}

.app-dropdown label + div > div {
  min-height: 38px;
  border-radius: 0;
}

.react-date-picker .react-date-picker__wrapper {
  padding: 5px;
}

.rhap_container {
  box-shadow: none !important;
  padding: 0 !important;
}

.rows {
  margin: 15px 0;
  padding: 15px 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.heading {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
}

.checkIcon {
  font-size: 30px;
}

.table {
  thead {
    th {
      border-bottom: none;
    }
  }

  tbody {
    tr {
      margin: 15px 0;
      padding: 15px 0;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}

.boxRound {
  width: 300px;
  height: 150px;
  border: 2px dashed #ddd;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.section{
  min-height: 50vh;
}
