.image-display-list {
  display: flex;
  flex-wrap: wrap;

  .image-item {
    overflow: hidden;
    margin: 0 20px 20px 0;
    position: relative;

    .remove-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #ffffff;
      color: #dc3545;
      border-radius: 50% !important;
      box-shadow: 0 2px 5px #3a4248;
    }

    img {
      width: 200px;
      height: 200px;
      margin-bottom: 15px;
      object-fit: contain;
      object-position: center;
      border: solid 1px #cccccc;
    }
    .pdf {
      width: 180px;
      height: 180px;
      margin-bottom: 15px;
      object-fit: contain;
      object-position: center;
      border: solid 1px #cccccc;
      background: #ddd;
    }
    .pdf-file {
      padding: 60px 10px 0 10px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
    .icon {
      text-align: center;
      margin-top: 10px;
      i {
        font-size: 50px;
        color: gray;
      }
    }
  }
}

