.sidebar {
  width: 100%;
  font-size: 14px;
  transition: all 0.5s;
  background-color: #2f353a;
  height: calc(100vh - 56px);

  a {
    color: rgba(255, 255, 255, .7);
  }

  .nav-item {
    padding: 10px 15px;
    transition: all 0.5s;

    &:hover {
      background-color: #63c2de;
      color: #ffffff;
    }
  }

  .active {
    .nav-item {
      background-color: #3a4248;
      color: #63c2de;
    }
  }
}

.menu-item {
  padding: 3px 5px;
}


.changePassword {
  cursor: pointer;
  padding: 3px 5px;

  &:hover {
    color: #fff;
    background-color: #435863;
    border-radius: 3px;
  }

  a {
    &:hover {
      color: #fff;
      background-color: #435863;
      border-radius: 3px;
    }
  }
}
